body{
    font-family: cursive;
    margin: 0;
    padding: 0;
    background: #fdcae1;
}

header{
    background-color: #f3abc9;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    top:0px ;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
}
.textoP{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    width: 600px;
    height: auto;
}
hr{
    height:5px;
    border:none;
    color:#333;
    background-color:#333;
}
img{
    width:300px;
     height:auto;
}
img{
    width: 350px;
    height: auto;
    animation-name: cuadrado;
    animation-duration: 11s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes cuadrado{
    0%,100%{transform:translateX(0)}
    10%,30%,50%,70%{transform:translateX(-10px)}
    20%,40%,60%{transform:translateX(10px)}
    80%{transform:translateX(8px)}
    90%{transform:translateX(-8px)}
}